


<div class="chat-header">
  <div class="chat-title">
    hogefuga
  </div>
  <div class="chat-finish">
    <div class="chat-finish-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>


<div class="chat-center">

    <%= render partial: 'message', collection: @messages %>

  <div class="chat-flame">
    <div class="chat-name-date">
      <div class="chat-name">
        Sim
      </div>
      <div class="chat-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="chat-message">
      おはよう
    </div>
  </div>



  
</div>


<div class="chat-footer">
  <%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
  <div class="chat-footer-form">
    <div  class="form-message">
    <%= f.text_field :content, class: 'message', placeholder: 'type a message' %>
     <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
    <%= f.submit '送信', class: 'form-submit-btn' %>
 
<% end %>
 </div>

</div>



